/**
File: index.html
Author: Ritik Sharma(100952840), Brendan Obilo(100952871)
Date: 2025-01-25
Description: This is the style sheet for the html file. It contains the styling for the navbar, carousel, calendar and events.
*/

.carousel-image {
    max-height: 400px;
    object-fit: cover;
}


.custom-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.custom-caption h5 {
    color: #fff;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.calendar-day {
    border: 1px solid #ddd;
    padding: 10px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.2s;
    
}

.calendar-day:hover {
    transform: scale(1.05);
}

.calendar-day .date {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #007bff;
}

.event {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-size: 0.9em;
    color: #333;
    transition: background-color 0.2s;
}

.event:hover {
    background-color: #e2e6ea;
}