<!--
File: eventPlanning.html
Author: Ritik Sharma(100952840), Brendan Obilo(100952871)
Date: 2025-02-23
Description: This is the event planning page for the Volunteer Connect website. It contains a form for users to plan an event.
-->

<div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12 w-100">
        <div class="eventPlanning" id="contentArea">
            <h1>Event Planning</h1>

            <div id="messageArea"></div>

            <form class="col-lg-6 col-md-10 col-sm-12 mb-4" id="eventPlanningForm">
                <div class="input-group mb-3">
                    <span class="input-group-text">Event Name</span>
                    <select id="eventName" name="eventName" class="form-control" aria-describedby="Event Name" aria-label="Event Name" required>
                        <option value="Delpark Fundraiser">Delpark Fundraiser</option>
                        <option value="New Volunteer Workshop">New Volunteer Workshop</option>
                        <option value="Lakeview Park Cleanup">Lakeview Park Cleanup</option>
                        <option value="Cancer Patient Fundraiser">Cancer Patient Fundraiser</option>
                        <option value="Drugs Awareness Workshop">Drugs Awareness Workshop</option>
                        <option value="Campus Cleanup Day">Campus Cleanup Day</option>
                        <option value="Education Fundraiser Event">Education Fundraiser Event</option>
                        <option value="Public Safety Workshop">Public Safety Workshop</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Date</span>
                    <input id="eventDate" name="eventDate" type="date" class="form-control"
                        aria-describedby="Date" aria-label="Date" required min="2025-01-01" max="2025-03-31">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Time</span>
                    <input id="eventTime" name="eventTime" type="time" class="form-control"
                        aria-describedby="Time" aria-label="Time" required min="09:00" max="17:00">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Location</span>
                    <select id="eventLocation" name="eventLocation" class="form-control" aria-describedby="Location" aria-label="Location" required>
                        <option value="Delpark Homes Centre">Delpark Homes Centre</option>
                        <option value="Oshawa Public Library">Oshawa Public Library</option>
                        <option value="Lakeview Park">Lakeview Park</option>
                        <option value="Lakeridge Health Oshawa">Lakeridge Health Oshawa</option>
                        <option value="Oshawa Community Centre">Oshawa Community Centre</option>
                        <option value="Durham College">Durham College</option>
                        <option value="Oshawa Convention Centre">Oshawa Convention Centre</option>
                        <option value="Oshawa Fire Services Training Centre">Oshawa Fire Services Training Centre</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Category</span>
                    <select id="eventCategory" name="eventCategory" class="form-control" aria-describedby="Category" aria-label="Category" required>
                        <option value="fundraisers">Fundraisers</option>
                        <option value="workshops">Workshops</option>
                        <option value="cleanups">Cleanups</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Description</span>
                    <textarea id="eventDescription" name="eventDescription" class="form-control"
                            aria-describedby="Description" aria-label="Description" required></textarea>
                </div>

                <div class="text-center">
                    <button id="createButton" type="button" class="btn btn-primary btn-lg">
                        <i class="fas fa-sign-in-alt"></i> Create
                    </button>

                    <button id="cancelButton" type="button" class="btn btn-warning btn-lg">
                        <i class="fas fa-undo"></i> Cancel
                    </button>
                </div>
            </form>
            <div id="createdEvents" class="mt-5">
                <h2>Created Events</h2>
                <div id="eventsList"></div>
            </div>
        </div>
    </div>
</div>
