<!--
File: news.html
Author: Ritik Sharma(100952840), Brendan Obilo(100952871)
Date: 2025-02-22
Description: This is the news page for the Volunteer Connect website. It contains a gallery of news articles.
-->

<div id="errorMessage" class="alert alert-danger d-none"></div>
<article>
    <div class="container mt-4">
        <h2 class="text-center">Volunteer Opportunities</h2>
        <div id="gallery" class="row"></div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary my-3">
            Timer: <span class="badge text-bg-secondary">4</span>
        </button>
    </div>
    <div id="newsMain" class="d-flex justify-content-evenly flex-wrap align-items-center">
        <h2 class="text-center">....loading</h2>
    </div>
</article>
