<!--
File: statistics.html
Author: Ritik Sharma(100952840), Brendan Obilo(100952871)
Date: 2025-03-18
Description: This is the statistical page for the Volunteer Connect website.
It provides interactive, visual representations of Volunteer Connects visitor
statistics to enhance understanding and engagement..
-->
<div id="statisticsPage" class="container mt-5">
    <h2 class="text-center">Visitor Statistics</h2>
    <div class="row"><canvas id="visitorChart" width="600" height="400"></canvas></div>
    <div class="row mt-5"><canvas id="visitorPieChart" width="600" height="350"></canvas></div>
</div>